#main{
margin:40px auto;
max-width:650px;
line-height:1.2;
font-size:18px;
color:#444;
padding:0 10px}
h1,h2,h3{line-height:1.2}
code{
color:#000;
background:lavender;
border-style:solid;
border-width:1px;
border-color:#000;
border-radius:4px;
padding:1px 1px
}

#sporthling {
    background: lavender;
    color: black;
    margin: 0 auto;
    font-size: 12px;

}
