html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    helvetica neue, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.code-view {
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  grid-template-rows: auto;
}

.code-view .lines {
  grid-column-start: 3;
  grid-row-start: 1;
  text-align: right;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background: #eee;
  border-right: 1px solid #444;
}

.code-view .lines a:target::before,
.code-view .lines a.selected::before {
  display: block;
  content: "";
  height: calc(1rem + 6px);
  width: 100%;
  z-index: -1;
  position: absolute;
  left: 0;
  background: #b3d7ff;
}

.code-view .ruler {
  background: 0 0;
  grid-column-start: 4;
  grid-row-start: 1;
  display: block;
  padding-left: calc(1rem + 4px);
  height: 100%;
  pointer-events: none;
  overflow-x: hidden;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.highlight {
    margin-top: 1rem;
    margin-left: 1rem
}
