#main{
margin:40px auto;
max-width:650px;
line-height:1.2;
font-size:16px;
color:#444;
padding:0 10px}
h1,h2,h3{line-height:1.2}

pre code {
color:#111;
background:lightblue;
border: 1px solid #999;
border-radius:4px;
display: block;
padding: 10px;
overflow: auto;
}

code{
color:#000;
background:lightblue;
border-style:solid;
border-width:1px;
border-color:#000;
border-radius:4px;
padding:1px
}

#sporthling {
    background: lightblue;
    color: black;
    margin: 0 auto;
    font-size: 12px;

}

table {
    border-collapse: collapse;
    border: 2px solid;
    table-layout: fixed;
    width: calc(100% - 4px);
}

table td {
    overflow-wrap: break-word;
    border: 1px solid;
}

td img {
    max-width:100%;
}

span.timestamp {
    style: bold;
}

div.comment-block {
    margin-left: 1em;
}
