@font-face {
font-family: "PixelOperator";
src: url("PixelOperator.ttf") format("truetype")
}

#main{
margin:40px auto;
max-width:650px;
line-height:1.2;
font-size:16px;
color:#000;
font-family: PixelOperator, monospace;
padding:0 10px}
h1,h2,h3{line-height:1.2}

pre code {
color:#111;
background:honeydew;
border: 1px solid #999;
border-radius:4px;
display: block;
padding: 10px;
overflow: auto;
font-family: PixelOperator, monospace;
}

code{
color:#000;
background:honeydew;
border-style:solid;
border-width:1px;
border-color:#000;
border-radius:4px;
padding:1px
}
